{% extends "site_base.html" %}
{% block content %}
  <h1> WHICH IS GIGGLE? </h1>
  <div class="row">
    <section class="six columns">
      <h2>
        {{ image_a.title }}
      </h2>
    </section>
    <section class="six columns">
      <h2>
        {{ image_b.title }}
      </h2>
    </section>
  </div>
  <div class="row">
    <section class="six columns">
      <video preload="auto" autoplay="autoplay" muted="muted" loop="loop"
      webkit-playsinline="" width="100%">
        <source src="{{ image_a.mp4}}" type="video/mp4">
        <source src="{{ image_a.webm}}" type="video/webm">
      </video>
    </section>
    <section class="six columns">
      <video preload="auto" autoplay="autoplay" muted="muted" loop="loop"
      webkit-playsinline="" width="100%">
        <source src="{{ image_b.mp4}}" type="video/mp4">
        <source src="{{ image_b.webm}}" type="video/webm">
      </video>
    </section>
  </div>
  <div class="row">
    <section class="six columns vote">
      <a href="vote?yay={{ image_a.id }}&nay={{ image_b.id }}">GIGGLE</a>
    </section>
    <section class="six columns vote">
      <a href="vote?yay={{ image_b.id }}&nay={{ image_a.id }}">GIGGLE</a>
    </section>
  </div>
  <div class="row">
    <section class="six columns">
      ( GIGGLE SCORE: {{ image_a_score }})
    </section>
    <section class="six columns">
      ( GIGLE SCORE: {{ image_b_score }})
    </section>
  </div>
{% endblock content %}
