<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='site_base.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Giggle Or Not</title>
  </head>
  <body>
    <div class="container">
      {% include "_flash.html" %}
      {% block content %}{% endblock content %}
    </div>
    <script type="text/javascript">
      (function() {
      var s = document.createElement("script");
      s.type = "text/javascript";
      s.async = true;
      s.src = '//api.usersnap.com/load/'+
        '{{ config.USERSNAP_KEY }}.js';
      var x = document.getElementsByTagName('script')[0];
      x.parentNode.insertBefore(s, x);
      })();
    </script>
  </body>
</html>
