.center {
  text-align:center;
}

video {
  max-height: 600px;
}

.u-max-full-width {
  max-width: 100%;
  box-sizing: border-box;
}

.logo {
  margin-bottom: 40px;
}

.button.button-facebook {
  background-color: #3A5197;
  color: #FDFDFD;
}

.float-right {
  float: right;
}
