{% extends "site_base.html" %}
{% block content %}
  <div class="row">
    <div class="six columns">
      {% with yay=images[0], nay=images[1] %}
        {% include "_gif.html" %}
      {% endwith %}
    </div>
    <div class="six columns">
      {% with yay=images[1], nay=images[0] %}
        {% include "_gif.html" %}
      {% endwith %}
    </div>
  </div>
  <div class="row">
    <h2>Ranking</h2>
    {% for image in ranking[:5] %}
      <div class="two columns">
        <a href="/{{ image[0] }}">
          <img class="u-max-full-width" src="https://i.imgur.com/{{ image[0] }}b.jpg">
        </a>
        <small>
          {{ image[1]|round|int }} points
        </small>
      </div>
    {% endfor %}
  </div>
{% endblock content %}
