<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet"
          href="{{ url_for('static', filename='site_base.css') }}">
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>twogifs</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <a class="button button-facebook float-right" href="https://www.facebook.com/twogifs" class="button button-facebook"
      target="_blank">
      Facebook
    </a>
    <div class="container">
      {% include "_header.html" %}
      {% include "_flash.html" %}
      {% block content %}{% endblock content %}
      {% include "_footer.html" %}
    </div>
    {% include "_script.html" %}
  </body>
</html>
